<!DOCTYPE html>
<html>
<head>
  <title>Recording studio</title>
<!--
  <%= javascript_include_tag "application"%>
  <%= stylesheet_link_tag "netzke", media: "all" %>
  <%= stylesheet_link_tag "buttons", media: "all" %>s
-->
  <%= stylesheet_link_tag "equalize", media: "all" %>
  <%= stylesheet_link_tag "style", media: "all" %>

  <%= csrf_meta_tag %>
  <%= load_netzke %>

</head>
<body>
<%= yield %>
</body>
</html>
